:root {
  /* шрифти */
  --textPrimary: "Raleway", serif;
  --textSecond: "Oswald", serif;
  /* кольори */
  --colorTextPrimary: #000000;
  --colorTExtContrast: #ffffff;
  --colorButton: #b2ffa6;
  --colorBGPrimary: #121212;
  --colorBGSection: #efefef;
}
body {
  font-family: var(--textPrimary);
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.header {
  background-color: var(--colorTextPrimary);
}
.nav-link {
  font-family: var(--textSecond);
  color: var(--colorTExtContrast);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--colorButton);
}
/*секція хіро*/
.hero-title {
  font-size: 64px;
}
.hero-title-part {
  font-weight: 700;
  font-size: 64px;
}
.hero-button {
  line-height: 1.5;
  letter-spacing: 0.06em;
  background-color: var(--colorButton);
  font-family: var(--textSecond);
}
.about-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 40px;
}
.about-text {
  font-size: 32px;
  line-height: 1.19;
}
.about-link {
  color: var(--colorTextPrimary);
  line-height: 1.5;
  background-color: var(--colorButton);
  font-family: var(--textSecond);
  text-decoration: none;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 115px;
  row-gap: 88px;
}

.features-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: ;
}
.features-text {
  line-height: ;
}
.footer {
  background-color: var(--colorBGPrimary);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link-logo {
  font-weight: 300;
  font-size: 32px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.footer-logo-part {
  color: var(--colorTExtContrast);
  font-weight: 700;
  text-decoration: none;
}
